<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

    body{
      background-image: url(https://img.freepik.com/free-photo/empty-perspective-wood-plank-table-top-with-abstract-bokeh-light-background-montage-your-product_55710-159.jpg?size=626&ext=jpg);
       background-size: cover;
      background-attachment: fixed;
      background-position: center center
    }

    .container{
        margin-top: 60px;
    }

    h1{
     text-align: center;
     color:red;
    }

    h2{
        text-align: center;
        font-size: 50px;
    }

    .jumbotron{
        margin:0px;
        padding:0px;
        opacity: 0.7;
    }

    img{
        height: 230px;
        width: 250px;
    }

  </style>  

</head>
<body>

   {{>header}} 

    <div class="container">
     
  <div class="jumbotron">
  <h1 class="display-3"><b>Successfully bought!<b></h1>
  <br>
  <img class="rounded mx-auto d-block" src="https://www.sccpre.cat/mypng/detail/1-14062_green-check-png-green-circle-check-mark.png">
  <hr class="my-4">
  <br>
  <h2>Happy reading! <i class="far fa-smile-beam"></i></h2>>
  <a href="/viewbooks"><i class="fas fa-backward"> View Books</i></a>
   </div>

    </div>

  <body>
</html>